[package]
name = "k8s-metrics"
version = "0.11.0"
edition = "2021"
rust-version = "1.61"
description = "K8s Metrics API Resource definitions"
repository = "https://github.com/imp/k8s-metrics-rs"
license = "Apache-2.0"


[dependencies]
go-parse-duration = "0.1"
k8s-openapi = { version = "0.17", features = [] }
serde = { version = "1.0", features = ["derive"] }
thiserror = "1.0"

[dev-dependencies]
k8s-openapi = { version = "0.17", features = ["v1_26"] }

[package.metadata.docs.rs]
features = ["k8s-openapi/v1_26"]
